* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: auto;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh; 
  position: relative; }

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://plus.unsplash.com/premium_photo-1701590725721-add548ecdf61?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center;
  background-size: cover;
  opacity: 0.3; 
  z-index: -1;
}

.left_box {
  width: 16%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: lightblue;


  .custom-icon {
    font-size: 50px; /* Height aur Width ko adjust kare */
    color: green;
  }
  #menu,
  #categorias,
  #modificadors,
  #impuestos,
  #ordenes,
  #horarios {
    border: 3px solid black;
    margin-bottom: 8%;
    margin-top: 15%;
    width: 65%;
  }
  .custom-menu {
    background-color: inherit !important;
    flex-grow: 1;
  }

  #log_out {
    position: absolute;
    bottom: 3%;
    left: 10%;
    background-color: rgb(245, 132, 132);
    border: 2px solid red;
    width: auto;
    padding: 5%;
    font-size: 20px;
  }

}

.right_div {
  margin-left: auto;
  padding: 20px;
  height: 100vh;
  width: 80%;
  overflow: auto;
  border: 2px solid brown;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    // display:none;
  }

  .select_box {
    width: 100%;
    margin-bottom: 20px;
    // display:none;

    .select_div {
      width: 100%;
      // display:none;
    }
  }

  .input_div {
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    // display:none;

    #input_box {
      width: 100%;
      padding: 7px;
      font-size: 15px;
      border: 1px solid white;
      box-shadow: 2px 2px rgb(15, 135, 175);
      border-radius: 15px;
      margin-right: 8px;
      // display:none;
    }

    #input_box:hover {
      background-color: rgb(230, 239, 241);
      // display:none;
    }

    #input_box:focus {
      border: 2px solid black;
      // display:none;
    }

    .box {
      gap: 6px;
      margin-left: 0; /* Remove margin for better alignment */
      display: flex;
      // flex-direction: column;
      justify-content: center;
      width: 100%;
      // border: 1px solid brown;
      // display:none;

      .custom-file-upload {
        display: inline-block;
        padding: 10px 15px;
        cursor: pointer;
        border: none;
        border-radius: 15px;
        font-size: 14px;
        width: 100%; /* Adjust width */
        border: 1px solid lightblue;
        box-shadow: 2px 2px rgb(15, 135, 175);
        // display:none;
      }

      .custom-file-upload:hover {
        background-color: rgb(230, 239, 241);
        // display:none;
      }

      #crear_btn {
        padding: 20px;
        border-radius: 15px;
        font-size: 16px;
        width: 100%;
        border: 2px solid blue;
        // display:none;
      }
    }
  }


  .first_page {
    position: relative;
    height: auto;
    margin-top: 5%;
    // border: 1px solid rgb(12, 246, 246);
    box-shadow: -2px -2px rgb(2, 66, 66, 0.2);
    background-color: lightblue;
    padding: 1%;
    width: 100%;
    padding-bottom: 55px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // display:none;

  
    .first_page_header {
      display: flex;
      align-items: center;
      margin-bottom: 2%;
  
      #papitas {
        margin-left: 1%;
        margin-right: 32%;
        font-size: large;
      }
  
      #editar_btn {
        background-color: green;
        border: 2px solid rgb(2, 79, 2);
        font-size: large;
        margin-right: 22%;
        color: white;
        border-radius: 12px;
      }
  
      #eliminar_btn {
        background-color: green;
        border: 2px solid rgb(2, 79, 2);
        color: white;
        font-size: large;
        border-radius: 12px;
      }
      #first_food_img {
        border: 2px solid green;
        margin-right: 2%;
        border-radius: 15px;
      }
    }
  
    .card {
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
  
      .first {
        margin-bottom: 5%;
        margin-top: 7%;
        box-shadow: -2px -2px rgb(24, 167, 215);
        width: auto;
      }
  
      .ant-card-body {
        color: black;
        height: 90px;
      }
      .ant-card-body:hover {
        background-color: rgb(255, 243, 243);
      }
    }
  }
  

}